{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>MN FR | Lockscreen</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/adminlte.min.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

</head>
<body class="hold-transition lockscreen">
<!-- Automatic element centering -->
<div class="lockscreen-wrapper">
  <div class="lockscreen-logo">
    <a href=""><b>MN </b>FR</a>
  </div>
  <!-- User name -->
  <div class="lockscreen-name"></div>

  <!-- START LOCK SCREEN ITEM -->
  <div class="lockscreen-item">
    <!-- lockscreen image -->
    <!-- <div class="lockscreen-image"> -->
      <!-- <img src="dist/img/user.png" alt="User Image"> -->
      <!-- <span class="glyphicon glyphicon-user form-control-feedback"></span> -->
    <!-- </div> -->
    <!-- /.lockscreen-image -->

    <!-- lockscreen credentials (contains the form) -->
    <form method="post" action="" class="lockscreen-credentials">
      <div class="input-group">
        <input type="password" id="admin_pass" class="form-control" placeholder="Password" value="">{% csrf_token %}

        <div class="input-group-btn">
          <button type="submit" name="btn_login" onclick="passwd();" class="btn"><i class="fa fa-arrow-right text-muted"></i></button>
        </div>
      </div>
    </form>
    <!-- /.lockscreen credentials -->

  </div>
  <!-- /.lockscreen-item -->
  <div class="help-block text-center">

  </div>
  <div class="text-center">
    <a href="/">Or sign in as a different user</a>
  </div>
  <div class="lockscreen-footer text-center">
    Copyright &copy;  <b><a href="grcgsi.com" class="text-black">MN</a></b><br>
    All rights reserved
  </div>
</div>
<!-- /.center -->

<!-- jQuery 3 -->
<!-- <script src="dist/js/jquery.min.js"></script> -->
<!-- Bootstrap 3.3.7 -->
<!-- <script src="dist/js/bootstrap.min.js"></script> -->
<script type="text/javascript">
  var admin = document.getElementById('admin_pass');
  function passwd(){
      alert(admin);
  }
</script>
</body>
</html>
